<div class="tracks-container">
    <table>
        <tbody>
            <tr class="track-card" *ngFor="let currentTrack of tracks; let i = index">
                <td>{{currentPage * 10 + i + 1}}</td>
                <td class="d-flex gap-3 w-50">
                    <div class="img-container position-relative">
                        <img [src]="currentTrack.track.album.images[0].url" alt="" />
                        <div class="play position-absolute" (click)="playSong(currentTrack.track.uri)">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="track-info">
                        <p class="track-name">{{currentTrack.track.name}}</p>
                        <p class="track-artists"><span
                                *ngFor="let artist of currentTrack.track.artists">{{artist.name}}</span></p>
                    </div>

                </td>
                <td>
                    <a [href]="currentTrack.track.album.external_urls.spotify">
                        {{currentTrack.track.album.name}}
                    </a>
                </td>
                <div class="ms-auto">
                    <span>{{calcTrackDuration(currentTrack.track.duration_ms)}}</span>
                </div>
            </tr>
        </tbody>
    </table>
    <div *ngIf="pagination" class="pages-container">
        <div class="item" *ngIf="pages > 5 && this.currentPage + 1 > 4" (click)="onChangePage(1)" [ngClass]="{'active': currentPage + 1 === 1}">
            1
        </div>
        ...
        <div class="item" *ngFor="let page of generateArray();let i = index;" (click)="onChangePage(page)" [ngClass]="{'active': page === currentPage + 1}">
            {{page}}
        </div>
        ...
        <div class="item" *ngIf="pages > 5 && this.currentPage + 1 < pages - 2" (click)="onChangePage(pages)" [ngClass]="{'active': pages === currentPage + 1}">
            {{pages}}
        </div>
    </div>
</div>