<nav class="custom-navbar">
    <div class="d-flex flex-column align-items-center h-100">
        <i class="fa-brands fa-spotify custom-icon active"></i>
        <div class="divider"></div>
        <div class="navbar-container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        class="nav-link" aria-current="page" href="#"><i
                            class="fa-regular fa-circle-user custom-icon"></i></a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/playlists']" routerLinkActive="active" class="nav-link" aria-current="page"
                        href="#"><i class="fa-solid fa-list-ul custom-icon"></i></a>
                </li>
            </ul>
        </div>
        <form class="mt-auto">
            <i *ngIf="isLogin" (click)="spotifyLogout()" class="fa-solid fa-right-from-bracket custom-icon"></i>
        </form>
    </div>
</nav>