<div *ngIf="isLogin">
    <div *ngIf="userInfo" class="user-cont mb-3">
        <div class="profile-img">
            <a [href]="userInfo.external_urls.spotify" target="_blank">
                <img [src]="userImage" alt="">
            </a>
        </div>
        <div class="user-details">
            <h1 class="text-center">{{userInfo.display_name}}</h1>
            <div class="follows">
                <app-info-label ngClass="mt-3" *ngIf="totalFollowerArtists > 0">
                    Follows: {{totalFollowerArtists}}
                </app-info-label>
                <app-info-label ngClass="mt-3" *ngIf="userInfo.followers.total > 0">
                    Followers: {{userInfo.followers.total}}
                </app-info-label>

            </div>
        </div>
    </div>
    <h2 class="mb-2">Tus me gusta</h2>
    <app-tracks-list [tracks]="tracks"></app-tracks-list>
    <h2 class="my-4">Tus playlists</h2>
    <app-playlists-grid></app-playlists-grid>
    <h2 class="my-4">Artistas a los que sigues</h2>
    <app-followed-artists (totalFollowedArtists)="getTotalFollowedArtists($event)"></app-followed-artists>
</div>