<div class="player-container">
    <div class="song"></div>
    <div class="controls">
        <button class="single-btn"><i class="fa-solid fa-shuffle"></i></button>
        <button class="single-btn"><i class="fa-solid fa-backward"></i></button>
        <button class="single-btn" *ngIf="!playbackState?.is_playing" (click)="tooglePlayer('play')"><i class="fa-solid fa-circle-play"></i></button>
        <button class="single-btn" *ngIf="playbackState?.is_playing"><i class="fa-solid fa-circle-pause"></i></button>
        <button class="single-btn"><i class="fa-solid fa-forward"></i></button>
        <button class="single-btn"><i class="fa-solid fa-repeat"></i></button>
    </div>
    <div class="right-controls">
        <div appDropdown class="devices">
            <div class="devices-container">
                <h5>Your devices</h5>
                <ul>
                    <li class="device-item" *ngFor="let device of availableDevices">
                        <i class="fa-solid fa-desktop"></i>{{device.name}}
                    </li>
                </ul>
            </div>
            <button class="single-btn"><i class="fa-solid fa-computer"></i></button>
        </div>
        <div class="volume">
            <button class="single-btn"><i class="fa-solid fa-volume-off"></i></button>
            <input type="range" min="1" max="100" [value]="volume">
        </div>
    </div>
</div>