<div class="tracks-container">
    <table>
        <tbody>
            <tr class="track-card" *ngFor="let currentTrack of tracks; let i = index">
                <td>{{i + 1}}</td>
                <td class="d-flex gap-3 w-50">
                    <img [src]="currentTrack.track.album.images[0].url" alt="">
                    <div class="track-info">
                        <p class="track-name">{{currentTrack.track.name}}</p>
                        <p class="track-artists"><span
                                *ngFor="let artist of currentTrack.track.artists">{{artist.name}}</span></p>
                    </div>

                </td>
                <td>
                    <a [href]="currentTrack.track.album.external_urls.spotify">
                        {{currentTrack.track.album.name}}
                    </a>
                </td>
                <div class="ms-auto">
                    <span>{{calcTrackDuration(currentTrack.track.duration_ms)}}</span>
                </div>
            </tr>
        </tbody>
    </table>

</div>