p {
    margin-bottom: 0;
}

.tracks-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.tracks-container table {
    color: #fff;
}

.tracks-container table tbody tr td a {
    color: #fff;
    color: #dbdbdb;
}

.tracks-container .track-card {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
}

.tracks-container .track-card:hover {
    background-color: #2a2a2a;
}

.tracks-container .track-card .img-container img {
    width: 50px;
    margin-top: auto;
}

.tracks-container .track-card .img-container .play {
    align-items: center;
    background-color: #1ed760;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 70%;
    justify-content: center;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    width: 70%;
}

.tracks-container .track-card .img-container:hover .play {
    transform: scale(1);
}

.tracks-container .track-card .img-container .play i {
    color: #000;
}

.tracks-container .track-card .track-name {
    font-weight: bold;
}

.tracks-container .track-card a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.tracks-container .track-card a:hover {
    text-decoration: underline;
}

.single-btn {
    background-color: transparent;
    border: 0;
}

.single-btn i {
    color: #c8c8c8;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}

.single-btn:hover i {
    color: #fff;
}
